In [1]:
import pandas as pd
import numpy as np

In [3]:
cj=pd.read_csv("C:/Users/12/Documents/GitHub/stock_trading_agent/kospi_V1/data/V1/CJ제일제당_V1.csv")

In [4]:
cj

,Unnamed: 0,Date,Open,High,Low,Close,Volume,ROE,PER,PBR
0,0,2014-01-02,277500,281000,276000,279500,101630,8.60,22.20,1.10
1,1,2014-01-03,278000,280000,274500,278500,78910,8.60,22.20,1.10
2,2,2014-01-06,277000,278000,272500,277000,42426,8.60,22.20,1.10
3,3,2014-01-07,274000,277000,273000,275500,49898,8.60,22.20,1.10
4,4,2014-01-08,274500,276500,272000,274500,42155,8.60,22.20,1.10
...,...,...,...,...,...,...,...,...,...,...
1466,1466,2019-12-23,244000,244500,240000,243500,33748,3.16,27.12,0.83
1467,1467,2019-12-24,245500,245500,241500,242000,17060,3.16,27.12,0.83
1468,1468,2019-12-26,244000,245000,241500,243000,32651,3.16,27.12,0.83
1469,1469,2019-12-27,246000,251500,241000,250000,50065,3.16,27.12,0.83
1470,1470,2019-12-30,252500,254500,250000,252500,31019,3.16,27.12,0.83

In [ ]:
COLUMNS_CHART_DATA = ['date', 'open', 'high', 'low', 'close', 'volume']

COLUMNS_TRAINING_DATA_V1 = [
    'open_lastclose_ratio', 'high_close_ratio', 'low_close_ratio',
    'close_lastclose_ratio', 'volume_lastvolume_ratio',
    'close_ma5_ratio', 'volume_ma5_ratio',
    'close_ma10_ratio', 'volume_ma10_ratio',
    'close_ma20_ratio', 'volume_ma20_ratio',
    'close_ma60_ratio', 'volume_ma60_ratio',
    'close_ma120_ratio', 'volume_ma120_ratio',
]

In [ ]:
COLUMNS_TRAINING_DATA_V1_RICH = [
    'open_lastclose_ratio', 'high_close_ratio', 'low_close_ratio',
    'close_lastclose_ratio', 'volume_lastvolume_ratio',
    'close_ma5_ratio', 'volume_ma5_ratio',
    'close_ma10_ratio', 'volume_ma10_ratio',
    'close_ma20_ratio', 'volume_ma20_ratio',
    'close_ma60_ratio', 'volume_ma60_ratio',
    'close_ma120_ratio', 'volume_ma120_ratio',
    'inst_lastinst_ratio', 'frgn_lastfrgn_ratio',
    'inst_ma5_ratio', 'frgn_ma5_ratio',
    'inst_ma10_ratio', 'frgn_ma10_ratio',
    'inst_ma20_ratio', 'frgn_ma20_ratio',
    'inst_ma60_ratio', 'frgn_ma60_ratio',
    'inst_ma120_ratio', 'frgn_ma120_ratio',
]

In [ ]:
COLUMNS_TRAINING_DATA_V2 = [
    'per', 'pbr', 'roe',
    'open_lastclose_ratio', 'high_close_ratio', 'low_close_ratio',
    'close_lastclose_ratio', 'volume_lastvolume_ratio',
    'close_ma5_ratio', 'volume_ma5_ratio',
    'close_ma10_ratio', 'volume_ma10_ratio',
    'close_ma20_ratio', 'volume_ma20_ratio',
    'close_ma60_ratio', 'volume_ma60_ratio',
    'close_ma120_ratio', 'volume_ma120_ratio',
    'market_kospi_ma5_ratio', 'market_kospi_ma20_ratio', 
    'market_kospi_ma60_ratio', 'market_kospi_ma120_ratio', 
    'bond_k3y_ma5_ratio', 'bond_k3y_ma20_ratio', 
    'bond_k3y_ma60_ratio', 'bond_k3y_ma120_ratio'
]

In [5]:
def preprocess(data, ver='v1'):
    windows = [5, 10, 20, 60, 120]
    for window in windows:
        data['close_ma{}'.format(window)] = \
            data['close'].rolling(window).mean()
        data['volume_ma{}'.format(window)] = \
            data['volume'].rolling(window).mean()
        data['close_ma%d_ratio' % window] = \
            (data['close'] - data['close_ma%d' % window]) \
            / data['close_ma%d' % window]
        data['volume_ma%d_ratio' % window] = \
            (data['volume'] - data['volume_ma%d' % window]) \
            / data['volume_ma%d' % window]

In [ ]:
        if ver == 'v1.rich':
            data['inst_ma{}'.format(window)] = \
                data['close'].rolling(window).mean()
            data['frgn_ma{}'.format(window)] = \
                data['volume'].rolling(window).mean()
            data['inst_ma%d_ratio' % window] = \
                (data['close'] - data['inst_ma%d' % window]) \
                / data['inst_ma%d' % window]
            data['frgn_ma%d_ratio' % window] = \
                (data['volume'] - data['frgn_ma%d' % window]) \
                / data['frgn_ma%d' % window]

In [ ]:
    data['open_lastclose_ratio'] = np.zeros(len(data))
    data.loc[1:, 'open_lastclose_ratio'] = \
        (data['open'][1:].values - data['close'][:-1].values) \
        / data['close'][:-1].values
    data['high_close_ratio'] = \
        (data['high'].values - data['close'].values) \
        / data['close'].values
    data['low_close_ratio'] = \
        (data['low'].values - data['close'].values) \
        / data['close'].values
    data['close_lastclose_ratio'] = np.zeros(len(data))
    data.loc[1:, 'close_lastclose_ratio'] = \
        (data['close'][1:].values - data['close'][:-1].values) \
        / data['close'][:-1].values
    data['volume_lastvolume_ratio'] = np.zeros(len(data))
    data.loc[1:, 'volume_lastvolume_ratio'] = \
        (data['volume'][1:].values - data['volume'][:-1].values) \
        / data['volume'][:-1] \
            .replace(to_replace=0, method='ffill') \
            .replace(to_replace=0, method='bfill').values

In [ ]:
    if ver == 'v1.rich':
        data['inst_lastinst_ratio'] = np.zeros(len(data))
        data.loc[1:, 'inst_lastinst_ratio'] = \
            (data['inst'][1:].values - data['inst'][:-1].values) \
            / data['inst'][:-1] \
                .replace(to_replace=0, method='ffill') \
                .replace(to_replace=0, method='bfill').values
        data['frgn_lastfrgn_ratio'] = np.zeros(len(data))
        data.loc[1:, 'frgn_lastfrgn_ratio'] = \
            (data['frgn'][1:].values - data['frgn'][:-1].values) \
            / data['frgn'][:-1] \
                .replace(to_replace=0, method='ffill') \
                .replace(to_replace=0, method='bfill').values

    return data

In [ ]:
def load_data(fpath, date_from, date_to, ver='v2'):
    header = None if ver == 'v1' else 0
    data = pd.read_csv(fpath, thousands=',', header=header, 
        converters={'date': lambda x: str(x)})

In [ ]:
    if ver == 'v1':
        data.columns = ['date', 'open', 'high', 'low', 'close', 'volume']

    # 데이터 전처리
    data = preprocess(data)
    
    # 기간 필터링
    data['date'] = data['date'].str.replace('-', '')
    data = data[(data['date'] >= date_from) & (data['date'] <= date_to)]
    data = data.dropna()

In [ ]:
    # 차트 데이터 분리
    chart_data = data[COLUMNS_CHART_DATA]

    # 학습 데이터 분리
    training_data = None
    if ver == 'v1':
        training_data = data[COLUMNS_TRAINING_DATA_V1]
    elif ver == 'v1.rich':
        training_data = data[COLUMNS_TRAINING_DATA_V1_RICH]
    elif ver == 'v2':
        data.loc[:, ['per', 'pbr', 'roe']] = \
            data[['per', 'pbr', 'roe']].apply(lambda x: x / 100)
        training_data = data[COLUMNS_TRAINING_DATA_V2]
        training_data = training_data.apply(np.tanh)
    else:
        raise Exception('Invalid version.')
    
    return chart_data, training_data

## 퀀티랩 블로그 이용. feature 추가(전일 종가 등)

In [3]:
cj=pd.read_csv("C:/Users/12/Documents/GitHub/stock_trading_agent/kospi_V1/data/V1/Sk_V1.csv")

In [4]:
cj

,Unnamed: 0,Date,Open,High,Low,Close,Volume,ROE,PER,PBR
0,0,2014-01-02,277500,281000,276000,279500,101630,8.60,22.20,1.10
1,1,2014-01-03,278000,280000,274500,278500,78910,8.60,22.20,1.10
2,2,2014-01-06,277000,278000,272500,277000,42426,8.60,22.20,1.10
3,3,2014-01-07,274000,277000,273000,275500,49898,8.60,22.20,1.10
4,4,2014-01-08,274500,276500,272000,274500,42155,8.60,22.20,1.10
...,...,...,...,...,...,...,...,...,...,...
1466,1466,2019-12-23,244000,244500,240000,243500,33748,3.16,27.12,0.83
1467,1467,2019-12-24,245500,245500,241500,242000,17060,3.16,27.12,0.83
1468,1468,2019-12-26,244000,245000,241500,243000,32651,3.16,27.12,0.83
1469,1469,2019-12-27,246000,251500,241000,250000,50065,3.16,27.12,0.83
1470,1470,2019-12-30,252500,254500,250000,252500,31019,3.16,27.12,0.83

In [17]:
sk=pd.read_csv("C:/Users/12/Documents/GitHub/stock_trading_agent/kospi_V1/data/V1/Sk텔레콤_V1.csv")
sk

,Unnamed: 0,Date,Open,High,Low,Close,Volume,ROE,PER,PBR
0,0,2014-01-02,232000,232500,228000,228000,125260,12.88,12.01,1.30
1,1,2014-01-03,226500,228000,225000,226500,123479,12.88,12.01,1.30
2,2,2014-01-06,223500,228000,223500,228000,92521,12.88,12.01,1.30
3,3,2014-01-07,229000,229500,224000,229000,210585,12.88,12.01,1.30
4,4,2014-01-08,231500,231500,224500,228500,211513,12.88,12.01,1.30
...,...,...,...,...,...,...,...,...,...,...
1466,1466,2019-12-23,243500,244500,242500,244000,126535,3.92,21.59,0.76
1467,1467,2019-12-24,243500,245000,242500,242500,168656,3.92,21.59,0.76
1468,1468,2019-12-26,243000,244500,242500,244500,254431,3.92,21.59,0.76
1469,1469,2019-12-27,239000,239000,237000,237500,302632,3.92,21.59,0.76
1470,1470,2019-12-30,239000,239000,237000,238000,96960,3.92,21.59,0.76

## V1을 V2 로 만드는 함수

In [8]:
def preprocess(data):
    windows = [5, 10, 20, 60, 120]
    for window in windows:
        data['close_ma{}'.format(window)] = \
            data['Close'].rolling(window).mean()
        data['volume_ma{}'.format(window)] = \
            data['Volume'].rolling(window).mean()
        data['close_ma%d_ratio' % window] = \
            (data['Close'] - data['close_ma%d' % window]) \
            / data['close_ma%d' % window]
        data['volume_ma%d_ratio' % window] = \
            (data['Volume'] - data['volume_ma%d' % window]) \
            / data['volume_ma%d' % window]

    data['open_lastclose_ratio'] = np.zeros(len(data))
    data.loc[1:, 'open_lastclose_ratio'] = \
        (data['Open'][1:].values - data['Close'][:-1].values) \
        / data['Close'][:-1].values
    data['high_close_ratio'] = \
        (data['High'].values - data['Close'].values) \
        / data['Close'].values
    data['low_close_ratio'] = \
        (data['Low'].values - data['Close'].values) \
        / data['Close'].values
    data['close_lastclose_ratio'] = np.zeros(len(data))
    data.loc[1:, 'close_lastclose_ratio'] = \
        (data['Close'][1:].values - data['Close'][:-1].values) \
        / data['Close'][:-1].values
    data['volume_lastvolume_ratio'] = np.zeros(len(data))
    data.loc[1:, 'volume_lastvolume_ratio'] = \
        (data['Volume'][1:].values - data['Volume'][:-1].values) \
        / data['Volume'][:-1] \
            .replace(to_replace=0, method='ffill') \
            .replace(to_replace=0, method='bfill').values

    return data

In [18]:
preprocess(sk)

,Unnamed: 0,Date,Open,High,Low,Close,Volume,ROE,PER,PBR,...,volume_ma60_ratio,close_ma120,volume_ma120,close_ma120_ratio,volume_ma120_ratio,open_lastclose_ratio,high_close_ratio,low_close_ratio,close_lastclose_ratio,volume_lastvolume_ratio
0,0,2014-01-02,232000,232500,228000,228000,125260,12.88,12.01,1.30,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.019737,0.000000,0.000000,0.000000
1,1,2014-01-03,226500,228000,225000,226500,123479,12.88,12.01,1.30,...,NaN,NaN,NaN,NaN,NaN,-0.006579,0.006623,-0.006623,-0.006579,-0.014218
2,2,2014-01-06,223500,228000,223500,228000,92521,12.88,12.01,1.30,...,NaN,NaN,NaN,NaN,NaN,-0.013245,0.000000,-0.019737,0.006623,-0.250715
3,3,2014-01-07,229000,229500,224000,229000,210585,12.88,12.01,1.30,...,NaN,NaN,NaN,NaN,NaN,0.004386,0.002183,-0.021834,0.004386,1.276078
4,4,2014-01-08,231500,231500,224500,228500,211513,12.88,12.01,1.30,...,NaN,NaN,NaN,NaN,NaN,0.010917,0.013129,-0.017505,-0.002183,0.004407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,1466,2019-12-23,243500,244500,242500,244000,126535,3.92,21.59,0.76,...,-0.214416,242695.833333,159637.425000,0.005374,-0.207360,0.000000,0.002049,-0.006148,0.002053,-0.217369
1467,1467,2019-12-24,243500,245000,242500,242500,168656,3.92,21.59,0.76,...,0.041150,242545.833333,160222.050000,-0.000189,0.052639,-0.002049,0.010309,0.000000,-0.006148,0.332880
1468,1468,2019-12-26,243000,244500,242500,244500,254431,3.92,21.59,0.76,...,0.550034,242433.333333,161752.166667,0.008525,0.572968,0.002062,0.000000,-0.008180,0.008247,0.508580
1469,1469,2019-12-27,239000,239000,237000,237500,302632,3.92,21.59,0.76,...,0.811655,242229.166667,163447.375000,-0.019524,0.851556,-0.022495,0.006316,-0.002105,-0.028630,0.189446
1470,1470,2019-12-30,239000,239000,237000,238000,96960,3.92,21.59,0.76,...,-0.415421,242025.000000,163575.066667,-0.016631,-0.407245,0.006316,0.004202,-0.004202,0.002105,-0.679611

In [20]:
sk.to_csv("C:/Users/12/Documents/GitHub/stock_trading_agent/kospi_V2/data/SK텔레콤_V2.csv")